{% extends 'base.html.twig' %}

{% block title %}User{% endblock %}

{% block stylesheets %}
<link rel="stylesheet" href="{{ asset('assets/css/profile/profileShow.css') }}">
{% endblock %}

{% block body %}
<div class="userProfile">
    <h1>User</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ user.id }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ user.email }}</td>
            </tr>

            <tr>
                <th>Lastname</th>
                <td>{{ user.lastname }}</td>
            </tr>
            <tr>
                <th>Firstname</th>
                <td>{{ user.firstname }}</td>
            </tr>
        </tbody>
    </table>
    {# {{ include('profile/user_history.html.twig') }} #}

    <div class="actions">
        <a href="{{ path('app_profile_edit') }}">edit</a>
    </div>
</div>



{# {{ include('profile/_delete_form.html.twig') }} #}
{% endblock %}