{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}
{% block stylesheets %}
<link rel="stylesheet" href="{{ asset('assets/css/login.css') }}">
{% endblock %}

{% block body %}
<div class="container">
	<div class="login">
		<h1>Se Connecter</h1>
		<form method="post">
			{% if error %}
			<div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
			{% endif %}

			{% if app.user %}
			<div class="mb-3">
				You are logged in as {{ app.user.userIdentifier }},
				<a href="{{ path('app_logout') }}">Logout</a>
			</div>
			{% endif %}

			{# <label class="form-label" for="inputEmail">Email</label> #}
			<input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control"
				autocomplete="email" required placeholder="E-mail" autofocus>

			{# <label class="form-label" for="inputPassword">Password</label> #}
			<div class="input-group">
				<input type="password" name="password" id="inputPassword" class="form-control"
					autocomplete="current-password" placeholder="Mot de passe" required>
				<div class="input-group-append">
					<span class="input-group-text">
						<i id="togglePasswordVisibility" class="fa-solid fa-eye"></i>
					</span>
				</div>
			</div>

			<input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

			<button class="btn btn-lg" type="submit">Connexion</button>
		</form>
		<div class="form-link">
	
				<a href="{{ path('app_forgot_password_request') }}">FORGOT YOUR PASSWORD?</a>

		</div>
		<div class="form-link">

				<a href="{{ path('app_register') }}">Don't have an account? Register now!</a>

		</div>
	</div>

	<div class="description">
		<h1>LeGuideDeBogdan</h1>
		<ul>
			<li>Des cours exclusifs tous niveaux</li>
			<li>Des formats hyper variés pour ne jamais t'ennuyer</li>
			<li>Un ax de connaissance pour les grand curieux !</li>
		</ul>
		<div id="iconConnexion">
			<img src="{{ asset('assets/icons/connexionIcon.svg') }}" alt="">
		</div>
	</div>
</div>
{% endblock %}

{% block optionals_script %}
<script>
	document.querySelector("#togglePasswordVisibility").addEventListener('click', function (event) {
		let passwordInput = document.querySelector("#inputPassword");
		let passwordIcon = event.target;

		if (passwordInput.type === "password") {
			passwordInput.type = "text";
			passwordIcon.classList.remove('fa-eye');
			passwordIcon.classList.add('fa-eye-slash');
		} else {
			passwordInput.type = "password";
			passwordIcon.classList.remove('fa-eye-slash');
			passwordIcon.classList.add('fa-eye');
		}
	});

	// get the user's timezone
	const timeZone = Intl.DateTimeFormat().resolvedOptions().timeZone;

	// prepare the data to send
	const data = JSON.stringify({ timezone: timeZone });

	// send a POST request to the server
	fetch('/get-user-timezone', {
		method: 'POST',
		headers: {
			'Content-Type': 'application/json'
		},
		body: data,
	})
		.then(response => response.json())
		.then(data => console.log(data))
		.catch((error) => {
			console.error('Error:', error);
		});
</script>
{% endblock %}