{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block stylesheets %}
<link rel="stylesheet" href="{{ asset('assets/css/home.css') }}">
{% endblock %}

{% block body %}

<div class="container">

    {% if user != null %}
    <h1> Déjà sur le depart {{ user.firstname }} ?</h1>
    <a href="{{path('app_logout')}}">Logout</a>
    {% else %}
    <h1> Bienvenue !</h1>
    <a href="{{path('app_login_route')}}">Se connecter</a>
    <a href="{{path('app_register')}}">S'enregistrer</a>
    {% endif %}
</div>

{% endblock %}