{% extends 'base.html.twig' %}

{% block title %}Category index{% endblock %}

{% block stylesheets %}
<link rel="stylesheet" href="{{ asset('assets/css/categoryInd.css') }}">
{% endblock %}

{% block body %}
<h1>Category index</h1>

<div class="category-grid">
    {% for category in pagination %}
    <div class="category">
        <div class="content" style="background-image: url('/categories/contents/{{ category.imageName }}')"></div>
        <div class="title">
            <a href="{{ path('app_category_show', {'id': category.id}) }}">{{ category.name }}</a>
        </div>
    </div>
    {% else %}
    <div class="category">
        No records found.
    </div>
    {% endfor %}
</div>

<!-- Add the pagination links here -->
<div class="pagination">
    {{ knp_pagination_render(pagination) }}
</div>

{% endblock %}