{% extends 'base.html.twig' %}

{% block title %}Category{% endblock %}

{% block stylesheets %}
<link rel="stylesheet" href="{{ asset('assets/css/categoryShow.css') }}">
{% endblock %}

{% block body %}
<h1>Les articles de la catégorie {{ category.name }}</h1>

<div class="article-grid">
    {% for article in articles %}
    <div class="article">

        <div class="article-content">
            <div class="article-title">{{ article.title }}</div>
            <div class="article-text">{{ article.content }}</div>
            <a class="article-link" href="{{ path('app_article_show', {'id': article.id}) }}">show</a>
        </div>
    </div>
    {% else %}
    <p>no records found</p>
    {% endfor %}
</div>

<a href="{{ path('app_category_index') }}">back to list</a>

{% endblock %}