{{ form_start(form) }}
{% for field in form %}
    {% if field.vars.name != '_token' %}
        <div class="form-group">
            {{ form_label(field) }}
            {{ form_widget(field, { 'attr': {'class': 'form-control'} }) }}
        </div>
    {% endif %}
{% endfor %}
<div class="submit-btn">
    <button class="btn">{{ button_label|default('Save') }}</button>
</div>
{{ form_end(form) }}
