{% extends 'base.html.twig' %}

{% block title %}Article{% endblock %}

{% block stylesheets %}
<link rel="stylesheet" href="{{ asset('assets/css/articleShow.css') }}">
{#
<link rel="stylesheet" href="{{ asset('assets/css/categoryShow.css') }}"> #}
{% endblock %}

{% block body %}

<div class="container">

    <!-- Article Header: Title and Video if exists -->
    <div class="article-header">
        <h1> Les cours de {{ article.category }}</h1>


        <div class="header-illustration">
            <img src="{{asset('assets/icons/computerIllu.svg') }}" alt="Category Illustration">
        </div>
    </div>

    <!-- Article Content -->
    <div class="article-content">
        <h2>{{ article.title }}</h2>
        {% if article.fileName != null and article.fileType == 'application/mp4' %}
        <div class="article-video">
            <video id="my-video" class="video-js vjs-default-skin vjs-big-play-centered" controls preload="auto"
                width="640" height="264" data-setup='{}'>
                <source src="{{ asset('articles/contents/') }}{{ article.fileName }}" type="video/mp4">
                <p class="vjs-no-js">
                    To view this video please enable JavaScript, and consider upgrading to a
                    web browser that
                    <a href="https://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a>
                </p>
            </video>
        </div>
        {% endif %}

        <div class="text">{{ article.content }}</div>
        <div class="completeCourse">
            {% if app.user and not course_completed %}
            {# Si l'utilisateur est connecté et qu'il n'a pas encore complété le cours #}
            <form action="{{ path('mark_course_completed', {'id': article.id}) }}" method="post">
                <button type="submit">Marquer comme complété</button>
            </form>
            {% elseif app.user %}
            <button disabled>Cours déjà complété</button>
            {% endif %}

        </div>

    </div>

    <!-- The other content, e.g. comments, could be added below if needed -->

</div>

{% endblock %}