{% extends 'base.html.twig' %}

{% block title %}Article{% endblock %}

{% block body %}
<h1>Article</h1>
<div>
    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ article.id }}</td>
            </tr>
            <tr>
                <th>Title</th>
                <td>{{ article.title }}</td>
            </tr>
            <tr>
                <th>Content</th>
                <td>{{ article.content }}</td>
            </tr>
           
            {% if article.fileName != null and article.fileType == 'application/mp4' %}
            <tr>
                <th>Video</th>
                <td>
                    <video controls width="250">
                        <source src="{{ asset('articles/contents/') }}{{article.fileName}}" type="video/mp4">
                        <a href="{{ asset('articles/contents/') }}{{article.fileName}}">MP4</a>
                    </video>

                </td>
            </tr>
            {% endif %}
        </tbody>
    </table>
    <div>
        {{ form_start(formArticleDone) }}
        {{ form_widget(formArticleDone) }}
        <button class="btn">{{ button_label|default('Save') }}</button>
        {{ form_end(formArticleDone) }}

    </div>
</div>
<div>
    <ul>
        {% for comment in comments %}
        <li>
            <h4>{{ comment.user.firstname }}</h4>
            <span>{{ comment.content }}</span>
        </li>
        {% endfor %}
    </ul>
    {# <a href="{{path('app_comment_new')}}">Ajouter un commentaire</a> #}
    {{ include('comment/new.html.twig') }}
</div>

{% endblock %}